@import url("https://fonts.googleapis.com/css?family=Roboto");

/* Slide Titles */
h1 {
    color: black;
    margin-top: 100px;
    text-align: center;
    padding-top: 100;
}

p {
    margin-bottom: 50px;
}

body
{
  color: black;
  background-color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
}

#nextsteps {
   color: black;
}

.emphasized {
   font-size: 1.2em;
}


html {
  height: 100%;
  box-sizing: border-box;
}

a:link {
    color: #0277bd;
}


/* ---- Exclude R Studio Banner ---- 

#rstudio_branding_bar {
display:none;
}
 
#rstudio_branding_bar_spacer {
display:none;
}
/*